<nav class="top-bar foundation-bar" data-topbar="">
  <div class="small-11 small-centered columns">
    <ul class="title-area">
      <li class="name">
        <h1>
          {{#link-to 'goals'}}RefactorMe{{/link-to}}
        </h1>
      </li>
      <li>
        <a href="http://localhost:3000/auth/twitter">Sign in with Twitter</a>
      </li>
    </ul>
  </div>
</nav>
{{outlet}}
