<nav class="top-bar foundation-bar" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1>
        {{#link-to 'goals'}}RefactorMe{{/link-to}}
      </h1>
    </li>
  </ul>
</nav>
{{outlet}}
