<nav class="top-bar foundation-bar" data-topbar="">
  <div class="small-11 small-centered columns">
    <ul class="title-area">
      <li class="name">
        <h1>
          {{#link-to 'goals'}}RefactorMe{{/link-to}}
        </h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="http://127.0.0.1:3000/connect/twitter">Sign in with Twitter</a>
        </li>
        <li>
          <a href="http://127.0.0.1:3000/api/logout">Sign Out</a>
        </li>
      </ul>
    </section>
  </div>
</nav>
{{outlet}}
