<div class="input group">
  {{input class="form-control" value=newName}}
  {{textarea class="form-control" value=newDescription}}
  {{input type="hidden" value=userID}}
  <button {{action 'createGoal'}}>Create Goal</button>
</div>
